@import "compass/css3";

@import "bootstrap/variables";
@import "bootstrap/mixins";


body {
  padding-bottom: $base-line-height * 2;
}

.main-slider {
  margin-bottom: $base-line-height * 2;
}

.testimonials blockquote {
  border: none;
  padding: 0;
}

.flickr {
  @include clearfix();
  list-style: none;
  margin: 0 -10px $base-line-height 0;
  > li {
    float: left;
    margin: 0 10px ($base-line-height / 2) 0;
    width: 67px;
    @media (min-width: 1200px) {
      width: auto;
    }
  }
}

.post-title {
  @include font-size-xlarge();
  margin: 0;
  > a {
    color: $headings-color;
  }
}

.post-meta {
  @include font-size-mini();
  color: $gray-light;
  margin: 0;
}
